

table{
    border-collapse: collapse;
    width: 1000px;
}

.title{
    background-color: aqua;
}

.table-head{
    background-color: yellow;
    color: black ;
}

td{
    text-align: center;
}

.first{
    background-color: white;
    color: black;
}
.ism{
    background-color: red;
}
.pul{
    background-color: green;
}